*,
*:before,
*:after {
  direction: rtl;
 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
	font-family: 'Yekan';
	src: url( '../fonts/yekan/Yekan.eot' );
	src:
		url( '../fonts/yekan/Yekan.woff2') format( 'woff2' ),
		url( '../fonts/yekan/Yekan.woff') format( 'woff' ),
		url( '../fonts/yekan/Yekan.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
body {
  background: url("../images/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Yekan';
  direction: rtl;
}
.logo{
    width: 100px;
   
    display: block;
    margin: 5px auto;
}
form {
  height: 600px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.03);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  
  
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}
form p{
    font-size: 15px;
    color: #616161;
    line-height: 42px;
    text-align: center;
  }
  

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 3px;
  border : 1px solid #9e9e9e;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #9e9e9e;
}

input:hover{
  outline: 2px solid #0001;
}
button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border : 1px solid #9e9e9e;
}
